body {
    margin: 0;
    overflow: hidden;
}

#app {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    background: rgb(202, 195, 195);
    width: 95vw;
    height: 90vh;
    position: relative;
    
}

#tank {
    position: absolute;
    width: 60px;
    height: 40px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

#turret-base {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: greenyellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
    position: relative;

}

#turret {
    width: 20px;
    height: 6px;
    background: rgb(47, 255, 255);
    overflow: visible;
    margin-left: 15%;
    position: absolute;
}

