body {
    margin: 0;
    overflow: hidden;
}

#app {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    background: rgb(202, 195, 195);
    width: 95vw;
    height: 90vh;
    position: relative;
    z-index: 0;
    
}

#tank {
  
    position: absolute;
    width: 60px;
    height: 40px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 1;

}

#turret-base {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(black, greenyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
    z-index: 2;
    transform-origin: 50% 50%;

}

#turret {
    width: 20px;
    height: 6px;
    background: rgb(47, 255, 255);
    overflow: visible;
    position: absolute;
    z-index: 3;
    top: -1px;
    transform: rotate(-90deg);
}

.ball {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
    position: absolute;
    z-index: 10;
}

/* left, right etc, transform: rotate(1deg) to move and rotate */
